@import url('https://fonts.cdnfonts.com/css/satoshi');

.txt-2 {

  background: linear-gradient(180deg, #FFF 40%, #001E2B 109.19%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  align-self: stretch;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;






}

.back {
  background-color: #21313C;
  padding-top: 100px;
  height: 920px;
  margin-top: 0px;
}

.txt {
  color: #FFF;
  text-align: center;
  font-family: 'Satoshi', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  align-self: stretch;

}

.sub-txt{
  color: #F7F8F8;
  text-align: center;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
  align-self: stretch;
  margin-top: 15px;

  }